@use 'sass:map';

$breakpoints: (
  sm: 575px,
  mds: 768px,
);

$default-transition-duration: 0.2s;
$default-transition-timing-function: ease;

@mixin respond-to($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media screen and (max-width: map.get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}

@import './offcanvas-comment';
@import './comment-right-sidebar';
